<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>Home → Best Horror Scenes → An ever growing collection...</title>
  </head>
  <body>
    <main>
      <section class="left">
        <h1 class="title">BEST<br />MOVIE SCENES</h1>
        <div class="intro">
          <p>
            An ever growing collection featuring some of the best scenes in
            horror.
          </p>
          <p>
            “Best Horror Scenes” is a collection of scenes I feel are some of
            the most affecting in horror. Some may be simple black cat scares,
            others may be more subdued or nuanced. Many come from films that
            aren't necessarily “horror” but have elements or threads of horror.
          </p>
          <div class="links">
            <a href="">Newsletter</a>
            <a href="">Suggest a Scene</a>
            <a href="">YouTube</a>
            <a href="">Twitter</a>
            <a href="">Contact</a>
            <a href="">RSS</a>
            <a href="">Letterboxd</a>
          </div>
          <p>
            Best Horror Scenes is a love letter to the Horror film genre by
            Brandon Durham. Most film clips contain major spoilers, and it is
            recommended you don’t watch the clip if you plan on seeing the film.
          </p>
        </div>
      </section>
      <section class="right">
        <!-- 상단 고정창 start -->
        <nav class="top_fixed">
          <span class="search_btn" id="search">Search</span>
          for the movie you're looking for.
        </nav>

        <!-- filter menu -->
        <div id="searchMenu" class="search_menu">
          <div class="s_head">
            <h4>SEARCH RESULT</h4>
            <i class="xi-close"></i>
          </div>
          <form action="" method="GET">
            <input type="text" />
            <input type="button" value="submit" />
          </form>
          <ul>
            <li>
              <span class="category">everything</span>
            </li>
          </ul>
        </div>

        <!-- sort menu -->
        <!-- <div id="sortMenu" class="sort_menu">
          <div class="s_head">
            <h4>SORT BY</h4>
            <i class="xi-close"></i>
          </div>
          <ul>
            <li class="category">post date</li>
            <li class="category">random</li>
            <li class="category">release year</li>
            <li class="category">title</li>
            <li class="category">votes</li>
          </ul>
        </div> -->

        <!-- 상단 고정창 end -->
        <!-- 본문 start -->
        <div class="movie_info">
          <h1>BOX OFFICE WEEKLY BEST</h1>
          <%for(let i = 0; i < naverList.length; i++){%>
          <article>
            <div class="tit">
              <h2 class="movieName" id="movieName">
                <%= naverList[i].title %>
              </h2>
              <span
                >Directed by&nbsp;<span class="director" id="director"
                  ><%= naverList[i].director %></span
                ></span
              >
            </div>

            <div class="main_txt">
              <div class="video_box">
                <div class="tag" id="tag"><%= naverList[i].rank %></div>
                <img src="<%= naverList[i].image %>" />
              </div>
              <div class="main_txt_wrap">
                <p>
                  It’s not Horror, it’s Haneke.™ I dare you to watch this film
                  without looking away once. I dare you to watch almost any
                  Haneke film without looking away. They’re very often
                  confrontational and require work on the viewer’s part to
                  decode. I’ve finished Haneke films with other people where
                  nobody really agreed on what we all just watched (The White
                  Ribbon (2009), which is incredible). The Piano Teacher isn’t
                  quite so oblique but it’s definitely a challenging watch.
                  Isabelle Huppert’s performance is one to be studied. In fact,
                  there are several actors that have referenced this performance
                  as inspiration for their own award-winning performances. I do
                  wonder, though, with an actor of this calibre, how do you say,
                  “Um, Mrs. Huppert, in this scene I’m gonna need you to
                  masturbate feverishly while huffing a stranger’s discarded
                  sperm-soaked tissue.” I’m just glad we have someone like
                  Haneke to ask the tough questions.
                </p>
                <div class="rate">
                  User rating:&nbsp;<span><%= naverList[i].userRating %></span
                  >/<span>10&nbsp;(네이버 평점)</span>
                </div>
              </div>
            </div>
            <div class="cmt">
              <span class="view">No comments</span>
              <span class="write"
                ><i class="xi-speech"></i>&nbsp;<span>Leave a Comment</span
                >&nbsp;</span
              >
            </div>
          </article>
          <div class="gradient"></div>
          <%}%>
        </div>
      </section>
    </main>
    <footer>
      <div class="youtube"></div>
      <div class="twitter"></div>
    </footer>
  </body>
</html>
<script src="/js/script.js"></script>
