<%-include ('partial/head') %>
      <%-include ('partial/left_fixed') %>
      <section class="right">
        <!-- 상단 고정창 start -->
        <nav class="top_fixed">
          Currently viewing <span class="filter_btn" id="filter">everything</span>
          sorted by <span class="sort_btn" id="sort">title</span> in <span class="order_btn" id="order">descending</span> order.
        </nav>

        <!-- filter menu -->
        <div id="filterMenu" class="filter_menu">
          <div class="s_head">
            <h4>FILTER BY</h4>
            <i class="xi-close xi-2x"></i>
          </div>
          <ul>
            <li>
              <span class="category" data-nation="">everything</span><span class="cnt">0</span>
            </li>
            <li>
              <span class="category" data-nation="대한민국">Korea</span
              ><span class="cnt">0</span>
            </li>
            <li><span class="category" data-nation="미국">USA</span><span class="cnt">0</span></li>
            <li><span class="category" data-nation="영국">UK</span><span class="cnt">0</span></li>
            <li>
              <span class="category" data-nation="일본">Japan</span><span class="cnt">0</span>
            </li>
            <li>
              <span class="category" data-nation="중국">China</span><span class="cnt">0</span>
            </li>
          </ul>
        </div>

        <!-- sort menu -->
        <div id="sortMenu" class="sort_menu">
          <h4>SORT BY</h4>
          <i class="xi-close xi-2x"></i>
          <ul>
            <li class="category" data-sort="prodYear">prod year</li>
            <li class="category" data-sort="title">title</li>
          </ul>
        </div>

        <!-- order menu -->
        <div id="orderMenu" class="order_menu">
          <h4>SORT ORDER</h4>
          <i class="xi-close xi-2x"></i>
          <ul>
            <li class="category" data-order="1">descending</li>
            <li class="category" data-order="0">ascending</li>
          </ul>
        </div>
        <!-- 상단 고정창 end -->
        <!-- 본문 start -->
        <div class="movie_info">
          <%for(let i = 0; i < list.length; i++){%>
          <article>
            <div class="tit">
              <h2 class="movieName" id="movieName">
                <%= list[i].title %> <%= list[i].repRlsDate %>
              </h2>
              <span
                >Directed by&nbsp;<span class="director" id="director"
                  ><%= list[i].director %></span
                ></span
              >
            </div>

            <div class="main_txt">
              <div class="video_box">
                <div class="tag" id="tag"><%= i +1 %></div>
                <img src="<%= list[i].poster %>" />
              </div>
              <div class="main_txt_wrap">
                <p><%= list[i].plot %></p>
                <span class="keywords"><%= list[i].keywords %></span>
              </div>
            </div>
            <div class="cmt">
              <span class="view">No comments</span>
              <span class="write"
                ><i class="xi-speech"></i>&nbsp;<span>Leave a Comment</span
                >&nbsp;</span
              >
            </div>
          </article>
          <div class="gradient"></div>
          <%}%>
        </div>
      </section>
    <%-include ('partial/tpl') %>
    <%-include ('partial/footer') %>

